@import url(http://fonts.googleapis.com/css?family=Montserrat|Alegreya);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: coral;
  font: normal 100%/1.5em 'Montserrat';
  color: white;
  -webkit-font-smoothing: antialiased;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 2em;
  text-transform: uppercase;
}
header h1 {
  font-weight: 400;
}
header h2 {
  font-weight: 400;
  letter-spacing: .25em;
  margin: 1em 0;
}

.thumb {
  float: left;
  width: 25%;
  margin: 0;
  background-position: center;
  background-size: cover;
  -webkit-transition: all .25s ease;
}

.thumb:hover {
  -webkit-filter: saturate(0);
  cursor: pointer;
}

.thumb img {
  display: block;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 40em;) {
  .thumb { width: 50%; }
}

@media screen and (max-width: 30em;) {
  .thumb { width: 100%; }
}

@media screen and (min-width: 60em;) {
  .thumb { width: 20%; }
}
