.gallery {
  text-align: center;
  min-height: 24em;
  background: #eee;
}

.thumb {
  position: relative;
  float: left;
  list-style: none;
  width: 25%;
  margin: 0;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  @include transition(all .25s ease);

  &.active {
    box-shadow: inset 0 0 0 1em rgba(black, .25);
  }

  &:hover {
    @extend .icon-arrow-down-right;
    cursor: pointer;
    box-shadow: inset 0 0 0 1000px rgba(white, .5);

    &:before {
      font-family:"icons";
      display:inline-block;
      font-weight:normal;
      font-style:normal;
      speak:none;
      text-decoration:inherit;
      text-transform:none;
      text-rendering:optimizeLegibility;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 1em;
      width: 1em;
      height: 1em;
      line-height: 1em;
      font-size: 1.5em;
      margin: .5em;
    }
  }

  img {
    display: block;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 60em) {
    width: 33.333%;
  }

  @media screen and (max-width: 40em) {
    width: 50%;
  }

  @media screen and (max-width: 30em) {
    width: 100%;
  }

  @media screen and (max-width: 30em) and (orientation:landscape) {
    width: 50%;
  }

  @media screen and (min-width: 80em) {
    width: 20%;
  }

  @media screen and (max-device-width: 768px) {
    &.active, &:hover {
      box-shadow: none;
    }
  }
}
