@import url(http://fonts.googleapis.com/css?family=Montserrat|Alegreya);

html {
  font: normal 100%/1.5em 'Montserrat';
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
